<div class="container-fluid p-4" style="background-color: #fdf7e6;">
  <h4 class="text-center mb-4">Feedback Details</h4>
  <table class="table table-bordered" style="background-color: white;">
    <thead style="background-color: black; color: white;">
      <tr class="text-center">
        <th style="width: 5%;">S.No</th>
        <th style="width: 15%;">User ID</th>
        <th style="width: 40%;">Feedback</th>
        <th style="width: 15%;">Posted Date</th>
        <th style="width: 10%;">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let feedback of feedbackList; let i = index">
        <td class="text-center">{{ i + 1 }}</td>
        <td class="text-center">{{ feedback.UserId }}</td>
        <td>{{ feedback.FeedbackText }}</td>
        <td class="text-center">{{ feedback.Date | date:'yyyy-MM-dd' }}</td>
        <td class="text-center">
          <button class="btn btn-primary btn-sm">Show Profile</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>