<header class="top-0 z-50 bg-[#0A6847] text-[#FFF5E0]">
  <nav class="flex items-center justify-between px-10 py-6">
    <!-- Logo Section -->
    <div class="flex gap-x-2">
      <img src="../../../assets/cookinghub.png" alt="Cooking Hub" class="w-10">
      <a href="/home" class="font-extrabold text-3xl">
        Cooking Hub - Admin
      </a>
    </div>
    <!-- Navigation Links -->
    <div class="flex gap-x-8">

      <!-- Dropdown for Cooking Class -->
      <!-- ------------- -->
      <div class="relative">
        <!-- Dropdown Button -->
        <button id="dropdownDefaultButton" (click)="toggleDropdown()"
          class="font-medium px-3 py-1 rounded-full border-[1.4px] border-[#FFF5E0] hover:bg-[#FFF5E0] hover:text-gray-900 flex gap-x-1 items-center"
          type="button">
          Cooking Class
          <svg class="w-2.5 h-2.5 ml-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 4 4 4-4" />
          </svg>
        </button>

        <!-- Dropdown Menu -->
        <div id="dropdown" [class.hidden]="isDropdownHidden"
          class="absolute bg-[#F3CA52] divide-y divide-gray-100 rounded-lg mt-2 w-32 z-50"
          style="top: calc(100% + 10px); left: 0;">
          <ul class="py-2 text-sm text-gray-700">
            <li>
              <a routerLink="/admin/add-class" class="block px-4 py-2  font-semibold hover:text-[#FFF5E0] hover:bg-[#0A6847]">
                Add Class
              </a>
            </li>
            <li>
              <a routerLink="admin/view-classes" class="block px-4 py-2 font-semibold  hover:text-[#FFF5E0]  hover:bg-[#0A6847]">
                View Class
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- ------------------- -->
      <a routerLink="/admin/class-requested" class="text-base cursor-pointer hover:text-[#FFDAB9]">Class Requested</a>
      <a routerLink="/admin/view-feedback" class="text-base cursor-pointer hover:text-[#FFDAB9]">Feedbacks</a>
    </div>

    <!-- Logout Section -->
    <div class="flex text-[#FFF5E0]">
      <a routerLink="/"
        class="font-medium px-3 py-1 rounded-full border-[1.4px] border-[#FFF5E0] hover:bg-[#FFF5E0] hover:text-gray-900">
        Logout
      </a>
    </div>
  </nav>
</header>