<header class="top-0 z-50 bg-[#0A6847] text-[#FFF5E0]">
  <nav class="flex items-center justify-between px-10 py-6">
      <!-- Logo Section -->
      <div class="flex lg:flex-1">
        <a routerLink="/user/home" class="text-2xl font-bold -m-1.5 p-1.5 hover:text-[#ADD8E6]">
          Cooking Hub - User
        </a>
      </div>
  
      <!-- Navigation Links -->
      <div class="hidden lg:flex lg:gap-x-8">
        <div class="hidden lg:flex lg:gap-x-8">
            <a routerLink="/user/home" 
               routerLinkActive="active-link"
               class="text-base cursor-pointer hover:text-[#ADD8E6]">Home</a>
            <a routerLink="/cooking-imp" 
               routerLinkActive="active-link"
               class="text-base cursor-pointer hover:text-[#ADD8E6]">Importance of Cooking</a>
            <a routerLink="/user/view-classes" 
               routerLinkActive="active-link"
               class="text-base cursor-pointer hover:text-[#ADD8E6]">View Classes</a>
            <a routerLink="/user/add-request" 
               routerLinkActive="active-link"
               class="text-base cursor-pointer hover:text-[#ADD8E6]">Applied Classes</a>
            <a routerLink="/user/view-feedback" 
               routerLinkActive="active-link"
               class="text-base cursor-pointer hover:text-[#ADD8E6]">Feedback</a>
          </div>
          
      </div>
  
      <!-- Logout Section -->
      <div class="hidden lg:flex lg:flex-1 lg:justify-end">
        <a (click)="logout()" class="text-sm font-semibold cursor-pointer hover:text-[#ADD8E6]">
          Logout <span aria-hidden="true">&rarr;</span>
        </a>
      </div>
    </nav>
  </header>
  