<div class="feedback-container">
    <h1 class="heading">Add Feedback</h1>
    <p class="required">* Feedback</p>
    <div class="outer-box">
      <div class="inner-box">
        <textarea [(ngModel)]="feedback" placeholder="Enter your feedback here"></textarea>
      </div>
    </div>
    <p *ngIf="validationMessage" class="error-message">{{ validationMessage }}</p>
    <button class="submit-button" (click)="submitFeedback()">Submit</button>
  
    <div *ngIf="showPopup" class="popup">
      <p>Successfully Added!</p>
      <button (click)="closePopup()">Ok</button>
    </div>
  </div>